// automatically inserted by CMake
#define PROJECT_LANG_DATA_DIR "@PROJECT_LANG_DATA_DIR@"
#define DEFAULT_ACOUSTIC_DATA_DIR "@DEFAULT_ACOUSTIC_DATA_DIR@"
#define PROJECT_LM_DIR_NAME "@PROJECT_LM_DIR_NAME@"
#define PROJECT_ACOUSTIC_DATA_DIR "@PROJECT_ACOUSTIC_DATA_DIR@"
#define AUDIO_SOURCE_PLUGIN "@AUDIO_SOURCE_PLUGIN@"
